@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.sidebar-icon {
  line-height: 1;
  flex-shrink: 0;
}

.input-field {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  border: none;
  outline: none;
  background-color: #374151;
  color: white;
}

.calculate-btn {
  background-color: #7c3aed;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
}

.calculate-btn:hover {
  background-color: #6d28d9;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;}